<?xml version="1.0"?>
<jonas-connector xmlns="http://www.objectweb.org/jonas/ns"
                 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                 xsi:schemaLocation="http://www.objectweb.org/jonas/ns
                 http://www.objectweb.org/jonas/ns/jonas-connector_4_4.xsd">
  <jndi-name>$oForm.getJndiName()</jndi-name>
  <rarlink>JOnASJDBC_DM</rarlink>
  <native-lib>$oForm.getNativeLib()</native-lib>
  <log-enabled>$oForm.getLogEnabled()</log-enabled>
  <log-topic>$oForm.getLogTopic()</log-topic>
  <pool-params>
    <pool-init>$oForm.getPoolInit()</pool-init>
    <pool-min>$oForm.getPoolMin()</pool-min>
    <pool-max>$oForm.getPoolMax()</pool-max>
    <pool-max-age-minutes>$oForm.getPoolMaxAge()</pool-max-age-minutes>
    <pstmt-max>$oForm.getPstmtMax()</pstmt-max>
    <pool-max-opentime>$oForm.getPoolMaxOpenTime()</pool-max-opentime>
    <pool-max-waiters>$oForm.getPoolMaxWaiters()</pool-max-waiters>
    <pool-max-waittime>$oForm.getPoolMaxWaittime()</pool-max-waittime>
    <pool-sampling-period>$oForm.getPoolSamplingPeriod()</pool-sampling-period>
  </pool-params>
  <jdbc-conn-params>
    <jdbc-check-level>$oForm.getCheckLevel()</jdbc-check-level>
  </jdbc-conn-params>
  <jonas-config-property>
    <jonas-config-property-name>dsClass</jonas-config-property-name>
    <jonas-config-property-value>$oForm.getDsClass()</jonas-config-property-value>
  </jonas-config-property>
  <jonas-config-property>
    <jonas-config-property-name>URL</jonas-config-property-name>
    <jonas-config-property-value>j$oForm.getURL()</jonas-config-property-value>
  </jonas-config-property>
  <jonas-config-property>
    <jonas-config-property-name>user</jonas-config-property-name>
    <jonas-config-property-value>$oForm.getUser()</jonas-config-property-value>
  </jonas-config-property>
  <jonas-config-property>
    <jonas-config-property-name>password</jonas-config-property-name>
    <jonas-config-property-value>$oForm.getPassword()</jonas-config-property-value>
  </jonas-config-property>
  <jonas-config-property>
    <jonas-config-property-name>loginTimeout</jonas-config-property-name>
    <jonas-config-property-value>$oForm.getLoginTimeout()</jonas-config-property-value>
  </jonas-config-property>
  <jonas-config-property>
    <jonas-config-property-name>isolationLevel</jonas-config-property-name>
    <jonas-config-property-value>$oForm.getIsolationLevel()</jonas-config-property-value>
  </jonas-config-property>
  <jonas-config-property>
    <jonas-config-property-name>mapperName</jonas-config-property-name>
    <jonas-config-property-value>$oForm.getMapperName()</jonas-config-property-value>
  </jonas-config-property>
  <jonas-config-property>
    <jonas-config-property-name>logTopic</jonas-config-property-name>
    <jonas-config-property-value>$oForm.getConfigLogTopic()</jonas-config-property-value>
  </jonas-config-property>
</jonas-connector>