earsample {
    // Login Module to use for the example earsample.

    //First, use a LoginModule for the authentication
    // Use the resource memrlm_1
    org.ow2.jonas.security.auth.spi.JResourceLoginModule required
    resourceName="memrlm_1"
	;

    // Use the login module to propagate security to the JOnAS server
    org.ow2.jonas.security.auth.spi.ClientLoginModule  required
	;
};